{:deps {}
 :aliases
{:dev {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.3.0"}
                     metosin/malli {:mvn/version "0.8.9"}
                     lambdaisland/kaocha {:mvn/version "1.68.1059"}}
        :extra-paths ["dev" "test"]}
 :test {:main-opts ["-m" "kaocha.runner"]}}}
